@tailwind base;
@tailwind components;
@tailwind utilities;

,bg-custom {
    background-image: url('./pages/pics/IMG-20241118-WA0016.jpg');
    background-size: cover;
    background-position: center;
}